<!doctype html>
<html lang="en">
	<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Neitsab Portfolio</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="/assets/bundle.css">
	</head>
	<body data-barba="wrapper">
		<div class="cursor cursor--small"></div>
		<canvas class="cursor cursor--canvas" resize></canvas>

		<div class="container">
			<div class="lines"></div>
			<div class="lines"></div>
			<div class="lines"></div>
			<div class="lines"></div>
			<div class="lines"></div>
			<div class="lines"></div>
			{% include "navigation.html" %}
			{{ content }}
		</div>
		
		
		
	</body>
	<script src="/assets/bundle.js"></script>
</html>